.list-item-description{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
}
.listing{
    display: grid;
    grid-template-columns: 3fr 10fr;
    gap: 20px;
}
.list-style-none{
    list-style: none;
    padding-left: 0;
}
.list-style-none input[type='checkbox']{
    width: 16px;
    height: 16px;
}
.list-style-none li label{
    display: flex;
    gap: 10px;
    align-items: center;
}

.section{
    padding: 60px 0;
}
.qty-btns{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 130px;
    gap: 5px;
    text-align: center;
    align-items: center;
}
.qty-btns button{
    background-color: transparent;
    border: none;
}
.qty-btns button:not(:first-child){
    background-color: #ddd;
}
.cart-items .cart-item{
   
    margin-bottom: 10px;
}
.hide{
    display: none !important;
}