.list-item-description{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
}
.listing{
    display: grid;
    grid-template-columns: 3fr 10fr;
    gap: 20px;
}
.list-style-none{
    list-style: none;
    padding-left: 0;
}
.list-style-none input[type='checkbox']{
    width: 16px;
    height: 16px;
}
.list-style-none li label{
    display: flex;
    gap: 10px;
    align-items: center;
}

.section{
    padding: 60px 0;
}